Flask
flask-cors
flask-limiter
python-dotenv
cryptography
scikit-learn
pandas
numpy
nltk
wordcloud
matplotlib
seaborn
gensim
transformers
torch
xgboost
datasets
Pillow
uvicorn
fastapi
python-multipart
